/* Layout Base - Page Header */
body.login {
    background-color: #2b4b64;
}
.page-header {
    background: #ffffff;
    border-bottom: none;
    border-left: none;
    box-shadow: none;
    height: 50px;
    margin: -40px -40px 40px -40px;
    padding: 0;
}

.page-header h2 {
    color: #171717;
}

.page-header .breadcrumbs a, .page-header .breadcrumbs span {
    color: #555;
}

.header {
    background: #171717;
    border-bottom: 1px solid #777;
    border-top: 0px;
}

.header .separator {
    background-color: #888888;
    background-image: -webkit-linear-gradient(#999999 60%, #999999);
    background-image: linear-gradient(#999999 60%, #999999);
}

.notifications > li .notification-icon {
    background: inherit;
}

.notifications > li .notification-icon i, .userbox .role {
    color: #FFFFFF
}

#table-ajax a {
    margin-right: 3px;
    border: none;
    box-shadow: none;
}    

.userbox .name, .userbox .custom-caret {
    color: #999;
}

.userbox.open .dropdown-menu {
    background: #222;
}

.pagination > li a {
    cursor: pointer;
}

#progress-wrp, .progress {
    border: 1px solid #0099CC;
    padding: 1px;
    position: absolute;
    width: 60%;
    height: 30px;
    border-radius: 3px;
    margin: 10px;
    text-align: left;
    background: transparent;
    box-shadow: inset 1px 3px 6px rgba(0, 0, 0, 0.12);
}

#progress-wrp .progress-bar, .progress .progress-bar  {
    height: 100%;
    border-radius: 3px;
    background-color: #47a447;
    opacity: 0.7;
    width: 0;
    box-shadow: inset 1px 1px 10px rgba(0, 0, 0, 0.11);
}

#progress-wrp .status {
    top: 3px;
    left: 50%;
    position: absolute;
    display: inline-block;
    color: #000000;
}

.img-uploaded, .img-setting-uploaded {
    height: 100%;
    border: 2px solid #ccc;
    background-color: #f2f2f2;
    border-style: dashed;
    margin-top: 20px;
    margin-bottom: 20px;
    padding: 20px;
    display: flex;
    display: -webkit-flex;
    justify-content: center;
    align-items: center;    
}    

.img-uploaded {
    min-height: 315px;
}

.table td img {
    height: 40px;
    margin-left: auto;
    margin-right: auto;    
}

.uppercase {
    text-transform: uppercase;
}

.select2-container--bootstrap {    
    width: 100% !important;
}


.well {
    min-height: 20px;
    padding: 19px;
    margin-bottom: 20px;
    background-color: #f5f5f5;
    border: 1px solid #e3e3e3;
    border-radius: 4px;
    -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.05);
    box-shadow: inset 0 1px 1px rgba(0,0,0,.05);
}

.list-unstyled {
    padding-left: 0;
    list-style: none;
}

.profile_details:nth-child(3n) {
    clear: both
}
.profile_details .profile_view {
    display: inline-block;
    padding: 5px 0 0;
    background: #fff;
    min-height: 160px;
}
.profile_details .profile_view .divider {
    border-top: 1px solid #e5e5e5;
    padding-top: 5px;
    margin-top: 5px
}
.profile_details .profile_view .ratings {
    margin-bottom: 0
}
.profile_details .profile_view .bottom {
    background: #F2F5F7;
    padding: 3px 0;
    margin-bottom: 10px;
}
.profile_details .profile_view .left {
    margin-top: 10px
}
.profile_details .profile_view .left p {
    margin-bottom: 3px
}
.profile_details .profile_view .right {
    margin-top: 0px;
    padding: 10px
}
.profile_details .profile_view .img-circle {
    border: 1px solid #E6E9ED;
    padding: 2px
}
.profile_details .profile_view h2 {
    margin: 5px 0
}
.profile_details .profile_view .ratings {
    text-align: left;
    font-size: 16px
}
.profile_details .profile_view .brief {
    margin: 0;
    font-weight: 600;
    color: #555;
}
.profile_details .profile_left {
    background: white
}

ul.list-unstyled li {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
.bp-item {
    position: absolute;
    overflow: visible;/* redefine this atttribute in bp-item class*/
    font-family: Trebuchet MS, Tahoma, Verdana, Arial, sans-serif;
    -webkit-tap-highlight-color: rgba(0,0,0,0);
    -webkit-user-select: none;
    -webkit-touch-callout: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    box-sizing:content-box;
}

.bp-selectioncheckbox-frame{
    display: none !important;
}

.calloutplaceholder div button, .calloutplaceholder div .list-unstyled  { visibility: hidden; }

.calloutplaceholder div .bottom  {background-color: #FFFFFF !important; }

div#basicdiagram:focus, .orgdiagram:focus {
    outline: none;
}

#overlay {
    position:fixed;
    top:0;
    left:0;
    width:100%;
    height:100%;
    background: rgba(0,0,0,0.7);
}
#overlay:hover
{
    display: none;
}

#modal {
    position:absolute;
    /*background:url(tint20.png) 0 0 repeat;*/
    background:rgba(0,0,0,0.2);
    border-radius:14px;
    padding:8px;
}

#contentModal {
    border-radius:8px;
    background:#fff;
    padding:20px;
}

#close {
    position:absolute;
    /*background:url(../img/close.png) 0 0 no-repeat;*/
    width:24px;
    height:27px;
    display:block;
    text-indent:-9999px;
    top:-7px;
    right:-7px;
}
.loading {
    margin-top: 10em;
    text-align: center;
    color: gray;
}

.carregando
{
    font-size: 16px;
}

span[name=description] {
    cursor: pointer;
    color: #0088CC;
}

span[name=description]:hover {
    color: #003eff;
    text-decoration: underline;
}

.btn-new {
    border-color: #a904ea;
    background-color: #a904ea;
    border-color: #a904ea #a904ea #a904ea;
    color: #FFF;
    text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
}

.btn-new:hover {
    background-color: #FFFFFF;
    color: #a904ea;
    border-width: 2px;
}

.legend {
    display: inline-block;
    vertical-align: middle;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    margin-left: 5%;
    margin-right: 1%;
}

.legend-active {
    background-color: green;
}

.legend-inactive {
    background-color: red;
}

.legend-empty {
    background-color: #a904ea;
}
ul.nav-main li a {
    font-size: 1.2rem;
}
.sidebar-left {
    width: 250px;
}

.panel {
    -webkit-box-shadow: 2px 2px 5px rgba(0, 0, 0, .2);
    box-shadow: 2px 2px 5px rgba(0, 0, 0, .2);
}

.container-product {
    width: 75%;
    margin: 0 auto;
}

.container-product .owl-carousel.owl-drag .owl-item {
    padding: 5px;
}

.product-price .text-muted {
    color: #a904ea !important;
    font-size: 30px;
    font-weight: 400;
}

sup {
    top: -.3em;
}
sub, sup {
    font-size: 65%;
}

@media only screen and (max-width: 767px) {
    .header .logo-container {
        background-color: #171717;
        background-image: -webkit-linear-gradient(#171717 60%, #3a3a3a);
        background-image: linear-gradient(#171717 60%, #3A3A3A);
        border-bottom: 1px solid #777;
        border-top: none;
    }

    .header .toggle-sidebar-left {
        background: #FFFFFF;
    }

    .header .toggle-sidebar-left i {
        color: #171717;
    }

    .notifications > li .notification-icon i {
        color: #777777;
    }

    .userbox .role {
        color: #ACACAC;
    }
}

@media only screen and (min-width: 768px) {
    html.fixed .content-body {
        margin-left: 250px;
    }   
    html.fixed .page-header {
        left: 250px;
    }
}